.color {
  width: 50px;
  float: left;
  position: relative;
  border: 1px solid black;
  height: 50px;
}

#color-palette {
  height: 50px;
}

#pixel-board {
  margin-top: 70px;
  padding-bottom: 50px;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
}

#clear-board {
  margin-top: 40px;
  margin-right: 200px;
}
